

/* .profilepage{
    overflow: hidden;
    overflow-y: hidden;
} */

.profile{
    position: absolute;
    width: 510px;
    height: 680px;
    left: -10px;
    top: 190px;

    background: #ffffff;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
}

.mycars{
    position: absolute;
    width: 570px;
    height: 680px;
    left: 550px;
    top: 190px;

    background: #ffffff;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 40px;

}

.myreviews{
    position: absolute;
    width: 690px;
    height: 680px;
    left: 1190px;
    top: 190px;

    background: #ffffff;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
}

.dados1{
    position: absolute;
width: 359px;
height: 411px;
left: 60px;
top: 270px;

font-family: 'Roboto Mono';
font-style: normal;
font-weight: 300;
font-size: 19px;
line-height: 25px;
text-align: center;

color: #000000;
}

.dados2{
    position: absolute;
width: 359px;
height: 411px;
left: 60px;
top: 330px;

font-family: 'Roboto Mono';
font-style: normal;
font-weight: 300;
font-size: 19px;
line-height: 25px;
text-align: center;

color: #000000;
}

.dados3{
    position: absolute;
width: 359px;
height: 411px;
left: 60px;
top: 390px;

font-family: 'Roboto Mono';
font-style: normal;
font-weight: 300;
font-size: 19px;
line-height: 25px;
text-align: center;

color: #000000;
}

.dados4{
    position: absolute;
width: 359px;
height: 411px;
left: 60px;
top: 450px;

font-family: 'Roboto Mono';
font-style: normal;
font-weight: 300;
font-size: 19px;
line-height: 25px;
text-align: center;

color: #000000;
}

.dados5{
    position: absolute;
width: 359px;
height: 411px;
left: 60px;
top: 510px;

font-family: 'Roboto Mono';
font-style: normal;
font-weight: 300;
font-size: 19px;
line-height: 25px;
text-align: center;

color: #000000;
}

.myselcars{
align-items: center;
padding-top: 0vh;
padding-left: 8vw;
padding-right: 7vw;
font-family: 'Roboto Mono';
font-style: normal;
font-weight: 300;
font-size: 1.5vw;
/* line-height: 53px; */
display: flex;
text-align: center;

color: #444444;
}

.my1car{
    align-items: center;
    position: relative;
    margin:auto;
    top: 2vh;
    padding-left: 10vw;
    padding-right: 10vh;
    width: 10vw;
    height: 25vh;

    background: #F7F7F7;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
}
.car1{
    align-items: center;
    display:block;
    margin:auto;
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    }

.my2car{
    align-items: center;
    position: relative;
    margin:auto;
    top: 5vh;
    padding-left: 10vw;
    padding-right: 10vh;
    width: 10vw;
    height: 25vh;

    background: #F7F7F7;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
}
.car2{
    position: absolute;
    width: 400px;
    height: 100px;
    left: -15px;
    top: -10px;

    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    }

.imageprofcar{
    /* position: relative;
    align-items: center; */
    display: block;
    margin-right: 30%;
    top: 10px;
    /* padding-left: 0px;
    padding-right: 0px; */
    width: 15vw;
    height: 20vh;
    border-radius: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.411);
}

.letrascarro1{
    position: absolute;
    width: 359px;
    height: 411px;
    left: 90px;
    top: 190px;
    
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 25px;
    text-align: center;
    
    color: #000000;
}

.fotoperfil{
        position: absolute;
        width: 200px;
        height: 200px;
        left: 7.5vw;
        top: 7vh;

}