@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Saira+Stencil+One&display=swap');

.home{
position: absolute;
width: 419px;
height: 144px;
left: 100px;
top: 1.7vh;

font-family: 'Saira Stencil One';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 126px;
text-decoration: none;

color: #4FBFB9;
}

.buyacar{
    
    position: relative;
    width: 283.64px;
    height: 84px;
    left: 15vh;

    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;

    color: #ffffff;
}

.sellacar{

    position: relative;
    width: 283.64px;
    height: 84px;
    left: 20vh;

    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;

    color: #ffffff;
}
.makeareview{
    position: relative;
width: 283.64px;
height: 84px;
left: 25vh;

font-family: 'Roboto Mono';
font-style: normal;
font-weight: 300;
font-size: 30px;
display: flex;
align-items: center;
text-align: center;
text-decoration: none;

color: #ffffff;}

.icon{
    position: relative;
    width: 283.64px;
    height: 84px;
    left: 33vh; 
    
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #ffffff;;
}

.nav-links{
    position: absolute;
    width: 1500px;
    height: 84px;
    left: 500px;
    top: 3.5vh;
    display: flex;
    align-items: center;

    background: #4FBFB9;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 47px;
}